
@{
    ViewBag.Title = "Index";
}

<h2>Font Awesome</h2>

<div class="well well-sm">
    <h3>Icon Sizing</h3>
    <div class="row">
        <div class="col-md-4">
            <i class="fa fa-android"></i>Normal Size <br />
        </div>
        <div class="col-md-6">
            <i class="fa fa-android fa-lg"></i>Large Size <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <i class="fa fa-android fa-2x"></i>2-x Size <br />
        </div>
        <div class="col-md-4">
            <i class="fa fa-android fa-3x"></i>3-x Size <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <i class="fa fa-android fa-4x"></i>4-x Size <br />
        </div>
        <div class="col-md-6">
            <i class="fa fa-android fa-5x"></i>5-x Size <br />
        </div>
    </div>
</div>

<div class="well well-sm">
    <h3>Rotate and Flip</h3>
    <div class="row">
        <div class="col-md-4">
            <i class="fa fa-android fa-rotate-90"></i>Rotate 90
        </div>
        <div class="col-md-4">
            <i class="fa fa-android fa-flip-vertical fa-5x"></i>Flip Vertical
        </div>
    </div>
</div>

<div class="well well-sm">
    <h3>Button with icons</h3>
    <div class="row">
        <div class="col-md-2">
            &nbsp;&nbsp;<i class="fa fa-trash-o fa-lg"></i>&nbsp;Delete
        </div>
        <div class="col-md-4">
            <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o fa-lg"></i>&nbsp;Delete
            </a>
            <a class="btn btn-primary" href="#">
                <i class="fa fa-user fa-lg"></i>&nbsp;User
            </a>
            <a class="btn btn-primary" href="#">
                <i class="fa fa-download fa-lg"></i>&nbsp;Download
            </a>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary">
                <i class="fa fa-refresh fa-lg"></i>&nbsp;Refresh
            </button>
        </div>
    </div>
</div>

